input[type=text], input[type=email],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: var(--primary);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    
    box-sizing: border-box;
}
input[type=text], input[type=email],textarea:focus {
    outline-width: 0;
}
.Home {
    color: var(--title);
    max-width: 100vw;
}

.Intro {
    height: 90vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin-bottom: 36px;
}

.IntroSection {

    background-image: url('../Img/group.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;  
    background-size: cover;

    display: grid;
    grid-template-columns: 99% 1%;

    grid-area: 1 / 2 / span 1 / span 1;
    padding-left: 36px;
    
    text-align: center;
    align-items: center;
}

.Image {
    background-image: url('../Img/ContactImg.jpg');
}

.Contact {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contactForm {
    float: right;
    padding: 108px;
    background-color: var(--primary);
    color: #fff;
}

.Form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin-top: 36px;
}

#intro {
    opacity: 1;

    color: #fff;
    grid-area: 1 / 1 span 1 / span 1;

    font-size: 54px;
    font-weight: 600;
  
}

#fname {
    grid-area: 1 / 1 / span 1 / span 1;
}

#lname {
    grid-area: 1 / 2 / span 1 / span 1;
}

#email {
    grid-area: 2 / 1 / span 1 / span 1;
}

#subject {
    grid-area: 2 / 2 / span 1 / span 1;
}

#message {
    grid-area: 3 / 1 / span 1 / span 2;
}

#submit {
    background-color:var(--secondary);
    color: #fff;

    cursor: pointer;

    margin-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    

    border: none;
    box-shadow: none;
    border-radius: 36px;
}